*{
    padding: 0;
    margin: 0;
}
.arrowIcon{
    /*Just change the width :)*/
    width: 2em;
    padding: 0;
    position: relative;
    overflow: hidden;
    top: 50px;
    left: 50px;
}
#arrow-symbol{
    width: 100%;
    margin-left: -50%;
    vertical-align: middle;
}
.arrowIcon:hover #arrow-symbol{
    transition: 0.3s ease-out;
    transform: translateX(50%);  
}
